# Generated Sources #
gen-external-apklibs
*.class
target
classes
project.properties
gen

# Targets #
out

# Package Files #
*.jar
*.war
.idea
*.iml
*.ear

# IDE Files #
*.iml
*.ipr
*.iws
.idea
.project
.classpath
.metadata/
.settings/

# Miscellaneous #
screenshot_0.png
.DS_Store
bin
test_servers

# SDK #
vendor/android-sdk-macosx
