*.class
target
classes
gen
screenshot_0.png
test_servers
.DS_Store
bin
.classpath
.metadata/
.project
.settings/

# Package Files #
*.jar
*.war
.idea
*.iml
*.ear

# IDE Files #
*.iml
*.ipr
*.iws
.idea
